.play-challenge-page {
  display: flex;
}

.title {
  text-align: center;
  padding: 0.5rem;
  margin: 4.5rem 0 0 0;
  text-decoration: underline;
  border-bottom: 1px solid black;
}
.selection-bar {
  flex-basis: 12%;
  border-right: 1px solid black;
}

.challenge-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.challenge {
  margin-left: 1rem;
}

.puzzle-container {
  margin: 5.75rem 4rem 3rem 4rem;
  flex-basis: 45%;
}

.options-container {
  display: flex;
  justify-content: space-between;
}

.stats {
  border-left: 1px solid black;
}

.puzzle-container {
  border-radius: 0.5rem;
  background-color: #f4e2be;
}
